@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


#body{
    background: linear-gradient(to bottom, #F56A8D,white, rgb(249, 204, 53));
}

.box{
    border-radius: 30px;
    width: 155px;
    height: 155px;
    background-color: white;
    position: absolute;
    display: flex;
    align-items: center;
    top: 135px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

/*profile pic*/
.back{
    border: 10px black;
    filter:drop-shadow(5px 5px 10px #fff);
    border-radius: 100%;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*Profile gif*/
.front{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.profile_container{
    position:relative;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    position:absolute;
    font-family: 'TAEBAEKmilkyway';
    font-size: 11px;
}

.profile{
    text-align: center;
    margin-top: 52px;
    left: 50%;
    transform: translate(-50%, -50%);
    position:absolute;
    font-family: 'TAEBAEKmilkyway';
    font-size: 9px;  
}


.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .box3 {
    width: 40%;
    max-width: 400px;
    height: 600px;
    border: 1px solid black;
    background: linear-gradient(to bottom, white, rgb(150, 207, 227));
    border-radius: 30px;
    text-align: center;
  }
  
  .box4 {
    width: 40%;
    max-width: 400px;
    height: 600px;
    background: linear-gradient(to bottom, white, lightblue); /* 예시로 추가한 스타일 */
    margin-left: 20px; /* 수평 간격을 위해 왼쪽 마진 추가 */
    border: 1px solid black;
    border-radius: 30px;
    text-align: center;
  }


  .box4-content div {
    font-family: 'TAEBAEKmilkyway';
    font-size: 12px;
  }
  

  .main_img{
    border-radius: 10%;
  }
  
  .caption{
    font-family: 'TAEBAEKmilkyway';
    font-weight:800;
    font-size: 20px;
    width: 80%;
    text-align: center;
  }




  .menu2{
    position: relative;
    width: 90%;
    max-width: 90%;
    height: 50px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    background-color: transparent;
  }

  .menu2:hover{
    background-color: white;
  }

  .copyright{
    font-family: 'TAEBAEKmilkyway';
    font-weight: 600;
    font-size: 12px;
    font-style: italic;
    margin-top: 80px;
    
  }

  .button_unclicked{
    background-color: transparent;
  }
  .button_clicked{
    background-color: white;
  }

  .image-wrapper {
    transition: all 0.3s ease; /* Add a transition effect for smooth hiding/showing */
  }
  
  .image-hovered {
    z-index: 1; /* Adjust the z-index to ensure the hovered image appears above other images */
  }

  .rouletter{
    position: relative;
      width:400px;
      height:400px;

    visibility: hidden;
  }
  .rouletter-bg{
    position: absolute;
      top:50%;
      left:41%;
      transform:translate(-50%,-50%);
      width:300px;
      height:300px;
      border-radius:350px;
    overflow:hidden;
  }
  .rouletter-wacu{
      width:100%;height:100%;
    background:#f5f5f2 url('../img/roulette.png') no-repeat;
      background-size:100%;
      transform-origin: center;
    
  }
  .rouletter-arrow{
    position: absolute;
      top:20px;
      left:41%;
      transform:translateX(-50%);
      width:1px;
      height:1px;
      border-right:10px solid transparent;
      border-left:10px solid transparent;
      border-top:40px solid red;
      border-bottom:0px solid transparent;
  }
  .rouletter-btn{
    position: absolute;
      top:50%;
      left:41%;
      transform:translate(-50%,-50%);
      width:80px;
      height:80px;
      border-radius:80px;
      background:#fff;
      border-image: linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
      border: 2px solid;
  }
  

  .on{
      animation-name: ani;
      animation-duration: 0.1s;
      animation-fill-mode: forwards;  
      animation-iteration-count: infinite;
  }
  
  @keyframes ani{
      0% { 
          transform: rotate(0deg); 
        transition-timing-function: ease-out;
      }
      100%{ 
          transform: rotate(360deg); 
      }
  }