@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
#body{
    background-color: #F56A8D;
}

.box{

    border-radius: 30px;
    margin-top: 25px;
    width: 155px;
    height: 155px;
    background-color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    top: 135px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.back{
    border: 10px black;
    filter:drop-shadow(5px 5px 10px #fff);
    border-radius: 100%;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.front{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile_container{
    position:relative;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    position:absolute;
    font-family: 'TAEBAEKmilkyway';
    font-size: 11px;
}

.profile{
    text-align: center;
    margin-top: 52px;
    left: 50%;
    transform: translate(-50%, -50%);
    position:absolute;
    font-family: 'TAEBAEKmilkyway';
    font-size: 9px;
   
}
